{% load bootstrap4 %}
{% load static %}


{% block styles %} 
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'styles.css' %}"> 
  {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<body>

    <form  action="{%url 'hood'%}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container">
          <div class="hood_form">
                
            <span class="row  center" style="display:block; font-weight: bold; outline: 4px solid saddlebrown; border-radius: 4px; padding: 4px ; margin: 20px;">
                  <label for=foo style="display:block; font-weight: bold; max-width: 500px; max-height: 500px;">Neighbourhood Picture:</label>
                  {{ form.hood_pic }}
                </span>
                <div class="row padding">
                        <div class="col-md-6">
                          <span class="row  center" style="display:block; font-weight: bold; outline: 4px solid saddlebrown; border-radius: 4px; padding: 4px;margin: 20px;">
                            <label for=foo style="display:block; font-weight: bold;">Neighbourhood name:</label>
                            {{form.name}}
                          </span>
                        </div>
                        <div class="col-md-6">
                          <span class="row  center" style="display:block; font-weight: bold; outline: 4px solid saddlebrown; border-radius: 4px; padding: 4px; margin: 20px;">
                            <label for=foo style="display:block; font-weight: bold;">Location:</label>
                            {{form.locality}}
                          </span>
                        </div>

                </div>
                <div class="row padding">
                  <div class="col-md-6">
                    <span class="row  center" style="display:block; font-weight: bold; outline: 4px solid saddlebrown; border-radius: 4px; padding: 4px; margin: 20px; ">
                      <label for=foo style="display:block; font-weight: bold;">Occupants Count:</label>
                      {{form.occupants_count}}
                    </span>
                  </div>
                  <div class="col-md-6">
                    <span class="row  center" style="display:block; font-weight: bold; outline: 4px solid saddlebrown; border-radius: 4px; padding: 4px; margin: 20px;">
                      <label for=foo style="display:block; font-weight: bold;">Police Stations:</label>
                      {{form.police_call}}
                    </span>
                  </div>
                  </div>

                  <div class="row padding">
                    <div class="col-md-6">
                      <span class="row  center" style="display:block; font-weight: bold; outline: 4px solid saddlebrown; border-radius: 4px; padding: 4px; margin: 20px;">
                        <label for=foo style="display:block; font-weight: bold;">Hospitals:</label>
                        {{form.hospital_call}}
                      </span>
                    </div>
                    <div class="col-md-6">
                      <span class="row  center" style="display:block; font-weight: bold; outline: 4px solid saddlebrown; border-radius: 4px; padding: 4px; margin: 20px;">
                        <label for=foo style="display:block; font-weight: bold; border-bottom: 4px dashed saddlebrown; border-radius: 4px; padding: 4px">Fire Departments:</label>
                        {{form.Fire_call}}
                      </span>
                    </div>
                    </div>

                <div class="row center">
                  <button input type="submit" class="btn btn-info" value="Post" style="background-color:saddlebrown; margin-left: 45%; margin-bottom: 100px;" >Create Hood
                  </button>

                </div>
            

          </div>

      </div>
      
    </form>
    
</body>
{% endblock %}