{% load bootstrap4  %}
{% load static %}

{% block styles %} 
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'styles.css' %}"> 
  {% endblock %}

{% block content %}
                
<div class="container mt-4" style="margin-left: 200px; border: 2px solid saddlebrown; border-radius: 7px;">
 
       
            
            <div class="card colors" style="margin:150px">
                <div class="card-title mt-4" style="margin-left: 15%; font-weight: bold; font-size: 135%; ">
                    Your Hood
                    User Login

                </div>
                
                <div class="card-body" >
                    <form method="post" action=""> 
                        {% csrf_token %}
                        <label for="username">Enter username:</label>
                        <input type="text" name="username"><br><br>
                        <label for="password">Enter Password</label> 
                        <input type="password" name="password"><br>
                        
                        </div>
                        
                        {% for message in messages %}
                        {{message}}
                        {% endfor %}
        
                        <input type="submit" value="LOGIN" class="btn btn-primary btn-block" style="width:160px ; margin-left:50px;background-color:saddlebrown; " ><br>
                        Don't have an account? <a href="{% url 'signup' %}" style="color: saddlebrown;font-weight: bold ; padding-bottom: 10px;">Sign up</a>
                    </form>
                </div>
            </div>
{% endblock %}
