{% load bootstrap4  %}
{% load static %}

{% block styles %} 
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'styles.css' %}"> 
  {% endblock %}

{% block content %}
                
<div class="container mt-4" style="margin-left: 35%;">
    <div class="row">
       
        <div class="col-md-4 mt-4">
            <div class="card colors">
                <div class="card-title mt-4" style="margin-left: 15%; font-weight: bold; font-size: 130%; ">
                    Your Hood
                    User Login

                </div>
                
                <div class="card-body mb-3 mr-3 ml-3">
                    <form method="post" action=""> 
                        {% csrf_token %}
                        <label for="username">Enter username:</label>
                        <input type="text" name="username"><br><br>
                        <label for="password">Enter Password</label> 
                        <input type="password" name="password"><br>
                        
                        </div>
                        
                        {% for message in messages %}
                        {{message}}
                        {% endfor %}
        
                        <input type="submit" value="LOGIN" class="btn btn-primary btn-block" style="width:160px ; margin-left:500px " >
                    </form>
                </div>
            </div>
            <div class="card mt-2 colors" >
                <div class="card-body mt-3 mb-3 mr-2 ml-4" style>
                    Don't have an account? <a href="{% url 'signup' %}" style="color: rgb(2, 1, 1);">Sign up</a>
                </div>
            </div>
           
        </div>
    </div>
</div>

{% endblock %}
