{% load bootstrap4 %}
{% load static %}

{% block styles %}
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
   {% endblock %}

{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #76773b !important ;">
  <a class="navbar-brand" href="{% url 'welcome' %}" style="font-family: 'Times New Roman', Times, serif; border-bottom: 1px saddlebrown solid;" id="site ">Neighbours Watching Neighbours</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <span class="sr-only">(current)</span>
          </a>
      </li>
    
     
     
    </ul>
  
    <form class="form-inline my-1 my-lg-3" style="margin-right:30px ;" action="{% url 'search' %}">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>


    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope-o" style="color: white;font-family: 'Times New Roman', Times, serif; border-bottom: 1px saddlebrown solid; margin-bottom: 30px;">
            My Profile
          </i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown"  style="max-width: 10px; color: saddlebrown; padding: 10px; margin-top: 14px;margin-left:-50px; border-radius: 20px; border-color: saddlebrown;">
          <a class="dropdown-item" href="{% url 'profile' %}">{{user.username}}</a>
        </div>
      </li>
  </div>
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}