{% load bootstrap4 %}
{% load static %}


{% block styles %} 
{% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'styles.css' %}"> 
  {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<body>

    <form  action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="container">
          <div class="hood_form">
                
                
                <div class="row padding">
                          <span class="row  center" style="display:block;font-weight: bold;outline: 4px solid saddlebrown; border-radius: 4px; padding: 4px;margin: 20px; ">
                            <label for=foo style="display:block;font-weight: bold; border-bottom: 4px dashed saddlebrown; border-radius: 4px; padding: 4px;margin: 20px;">Type of Post:</label>
                            {{form.type}}
                          </span>
                       
                </div>
                <div class="row padding">
                  
                    <span class="row  center" style="display:block;font-weight: bold;outline: 4px solid saddlebrown; border-radius: 4px; padding: 4px;margin: 20px; ">
                      <label for=foo style="display:block;font-weight: bold; border-bottom: 4px dashed saddlebrown; border-radius: 4px; padding: 4px;margin: 20px;  ">Post Details : </label>
                      {{form.description}}
                    </span>
                  
                  </div>

                 
                <div class="row center">
                  <button input type="submit" class="btn btn-info" value="Post" style="margin: 8px;background-color:saddlebrown; margin-left: 45%; " >Submit Post
                  </button>

                </div>
            

          </div>

      </div>
      
    </form>
    
</body>
{% endblock %}
